/* MIXIN 
   ---------------------------------- */
/* ELEMENTS 
   ---------------------------------- */
* {
  box-sizing: border-box;
}
butotn,
input[type=button] {
  border: none;
}
h1 {
  font-size: 22px;
  font-family: Arial;
  font-weight: 500;
  background-color: #9a7f25;
  background-image: -webkit-linear-gradient(top, #9a7f25, #bb9a2f);
  background-image: -moz-linear-gradient(top, #9a7f25, #bb9a2f);
  background-image: -o-linear-gradient(top, #9a7f25, #bb9a2f);
  background-image: -ms-linear-gradient(top, #9a7f25, #bb9a2f);
  background-image: linear-gradient(top, #9a7f25, #bb9a2f);
  color: #FFF;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  border-radius: 5px;
}
label {
  width: 90px;
  display: inline-block;
}
input,
select {
  height: 30px;
  border: 2px solid #bb9a2f;
  border-radius: 5px;
  width: 288px;
}
/* MODAL 
   ---------------------------------- */
.modal-overlay {
  min-width: 500px;
  min-height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-wrapp {
  width: 450px;
  left: calc(100% - 50% - 450px/2);
  border: 4px solid #bb9a2f;
  border-radius: 10px;
  position: absolute;
  -webkit-transition: height 0.5s, top 0.5s;
  -moz-transition: height 0.5s, top 0.5s;
  -ms-transition: height 0.5s, top 0.5s;
  -o-transition: height 0.5s, top 0.5s;
}
.modal-wrapp.step1 {
  height: 130px;
  top: calc(100% - 50% - 130px/2);
}
.modal-wrapp.step1 #step1 {
  display: block;
}
.modal-wrapp.step2 {
  height: 760px;
  top: calc(100% - 50% - 760px/2);
}
.modal-wrapp.step2 #step2 {
  display: block;
}
.modal-close-button {
  width: 25px;
  height: 25px;
  top: -10px;
  right: -10px;
  position: absolute;
  background: #bb9a2f;
  border: 2px solid #ffffff;
  border-radius: 25px;
  color: #ffffff;
  text-align: center;
  cursor: poiter;
}
.modal-content {
  padding: 0 20px;
}
#step1,
#step2 {
  display: none;
}
/* FORM 
   ---------------------------------- */
.form-group {
  border-top: 1px dashed #8d8d8d;
  padding: 5px 0;
}
.form-row {
  padding: 5px 0;
}
.form-row label {
  font-weight: bold;
  font-size: 12px;
  width: 110px;
}
.with-checkbox {
  padding: 0;
}
.with-checkbox input {
  width: auto;
  display: inline-block;
}
.with-checkbox label {
  width: auto;
}
.with-checkbox input,
.with-checkbox label {
  vertical-align: middle;
}
.form-submit {
  width: 65px;
  height: 25px;
  background: #c3ac4c;
  color: white;
  font-size: 12px;
  text-shadow: 0 0 5px #927e28;
  box-shadow: 0 0 5px #a2a2a2, inset 0 2px 1px #ffe889;
  float: right;
}
/* MISC 
   ---------------------------------- */
.button-ok {
  width: 40px;
  height: 20px;
  background: #E8DDBD;
  border-radius: 5px;
  color: #7E755D;
  font-size: 14px;
  float: right;
  margin-top: 5px;
}
.ipt-250px {
  width: 250px;
}
.disable-text {
  color: #7f7f7f;
}
.w50 {
  width: 50px !important;
}
.w70 {
  width: 70px !important;
}
.w160 {
  width: 160px !important;
}
.without-input {
  margin-left: 115px;
}
